<div class="sharing social-links" sty>
 {% comment %} <span class="sharing-label">{{ 'general.social.share_heading' | t }}</span>{% endcomment %}
  <ul class="sharing-list" style="display:none">
    <li class="facebook">
      <a class="sharing-link" target="_blank" rel="noopener" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
        <span aria-hidden="true">{% render 'svg-facebook' %}</span>
       {% comment %} <span class="visually-hidden">{{ 'general.social.share_on_facebook' | t }}</span>{% endcomment %}
      </a>
    </li>
    <li class="twitter">
      <a class="sharing-link" target="_blank" rel="noopener" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
        <span aria-hidden="true">{% render 'svg-twitter' %}</span>
        {% comment %}<span class="visually-hidden">{{ 'general.social.share_on_twitter' | t }}</span>{% endcomment %}
      </a>
    </li>
     {% if share_image %}
    <li class="pinterest">
      <a class="sharing-link" target="_blank" rel="noopener" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        <span aria-hidden="true">{% render 'svg-pinterest' %}</span>
        {% comment %}<span class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}</span>{% endcomment %}
      </a>
    </li>
    {% endif %}
{% if share_image %}
    <li class="instagram">
      <a class="sharing-link" target="_blank" rel="noopener" href="//www.instagram.com/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
        <span aria-hidden="true">{% render 'svg-instagram' %}</span>
       {% comment %} <span class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}</span>{% endcomment %}
      </a>
    </li>
     {% endif %}
     {% if share_image %}
    <li class="whatta">
      <a class="sharing-link" target="_blank" rel="noopener" href="https://wa.me/?text={{shop.url }}{{ product.url }}">
        <span aria-hidden="true">{% render 'whatapps' %}</span>
       {%comment %} <span class="visually-hidden">{{ 'general.social.share_on_pinterest' | t }}</span>{% endcomment %}
      </a>
    </li>
     {% endif %}
  </ul>
</div>
